eo-learn-coregistration==0.10.1
eo-learn-features==0.10.1
eo-learn-mask==0.10.1
eo-learn-visualization==0.10.1
eo-learn-ml-tools==0.10.1
eo-learn-core==0.10.1
eo-learn-io==0.10.1
eo-learn-geometry==0.10.1
sentinelhub==3.4.2
munch
tensorflow>=2.1.0
tensorflow-addons
numpy
marshmallow
matplotlib
h5py
pydot
tsaug
helpers